<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do Zoznam</title>
</head>
<body>
    <h1>To-Do Zoznam</h1>
    <a href ="{% url 'pridat_ulohu' %}">"Pridať úlohy"</a>
    <ul>
        {% for uloha in ulohy %}
            {% if not uloha.hotova %}
                <li>
                    <a href="{% url 'oznac_hotovu' uloha.id %}">
                        {{ uloha.nazov }}
                    </a>
                </li>
            {% endif %}
        {% empty %}
            <li>Žiadne úlohy</li>
        {% endfor %}
    </ul>

</body>
</html>